# 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

### Answer

| Elements | Answer |
| --- | --- |
|  * | Expression |
| 'hello' | Value |
| -87.8  | Value |
| -  | Expression |
| /  | Expression |
| +  | Expression |
| 6  | Value |

# 2. What is the difference between string and variable

<p>
    <strong>
        String:
    </strong>
    <br>
    1. String is a datatype that reprtesents a sequence of characters eclosed with single (') or double quotes (")
    <br>
    2. They can contain letters, digits, symbols, and special characters
    <br>
    3. Strings are immutable, meaning their values cannot be changed once created
    <br>
    Example:
    <br>
    'My name is Karthik'
    <br>
    "My age is 30"
    <br>
    <br>
    <strong>
        Variable:
    </strong>
    <br>
    1. Variable is a named container that holds a value
    <br>
    2. It is used to store and represent data of various types like integer, float, string 
    <br>
    3. Variables are created by assigning a value to a name using the assignment operator (=)
    <br>
    4. Once a variable is defined, it can be used to refer to the value it holds throughout the program
    <br>
    Example:
    <br>
    name = 'Karthik'
    <br>
    value = 49.01
</p>

# 3.Describe three different data types.

<p><strong>Data types in Python</strong></p>

<p><strong>Integers</strong>: Integers are whole numbers, without a fractional component. They can be positive or negative.</p>

In [5]:
x = 10
y = -9

<p><strong>Float</strong>: Floats represent real numbers and are written with a decimal point.</p>

In [1]:
a = 2.09
b = -0.03
c = 12.12398125

<p><strong>Strings</strong>: Strings in Python are sequences of character data. They are created by enclosing characters in singel quotes or double quotes.</p>

In [2]:
s = 'Hello, My name is Karthik!'
s

'Hello, My name is Karthik!'

# 4.What is an expression made up of? What do all expressions do?

<p>Expression is a combination of values, variables, operators, and functions that can be evaluated to produce a result</p>
<p>
     <strong>Values</strong>: These can be numeric or string <br>ex: 5,'hello', -0.09
</p>
<p>
    <strong>Variables</strong>: These represent named storage locations that hold values.<br> Ex: a = 1, b = 'hello'
</p>
<p>
    <strong>Operators</strong>: These are symbols or keywords used to perform operations on values or variables.<br> Airthemetic operator: (+, -, *, /)
<br> Comparison operators: (>, <, ==)
<br> Logical operators: (&&, ||)
</p>
<p>
    <strong>Function</strong> : Expressions can invoke functions, which are reusable blocks of code that perform specific tasks. Functions can accept arguments (values passed into the function) and return a result.
</p>

# 5.This assignment statements, like spam = 10. What is the difference between an expression and a statement?

<p>
    In programming, expressions and statements are two fundamental concepts that serve different purposes:
    
</p>
<p>
    <strong>
        Expression:
    </strong>
    <br>
    1. An expression is a combination of values, variables, operators, and function calls that can be evaluated to produce a result<br>
    2. expressions always produce a value
    <br>
    3. Expressions are used to compute and produce a value that can be assigned to a variable, passed as an argument, or used in other expressions.
    <br>
    Example, in the expression "2 + 3", 
    <br>
    * The addition operator is applied to the values 2 and 3, resulting in the value 5
   <br>
    * Perform calculations, compare values, or pass values as arguments to functions.
</p>

<p>
    <strong>
        Statement:
    </strong>
    <br>
    1. Statement is a complete instruction or command to perform an action
    <br>
    2. It represent a specific operation or control flow in a program
    <br>
    3. Statements can include assignments, loops, conditional branching, function calls
    <br>
    Example, spam = 10 and if x > 5: print("x is greater than 5")
    <br>
    * Statment are used to control the flow of execution
    <br>
    * Perform tasks like altering the program state, making decisions, or repeating actions.
</p>

# 6.After running the following code, what does the variable bacon contain?
# bacon = 22
# bacon + 1

In [3]:
bacon = 22
bacon + 1
bacon 
# Answer will be 22
# 'bacon +  1' is not assigned back to bacon variable

22

# 7. What should the values of the following two terms be?
# 'spam' + 'spamspam'
# 'spam' * 3

In [7]:
'spam' + 'spamspam'
# Answer - 'spamspamspam' Concatination of the strings

'spamspamspam'

In [8]:
'spam'*3
# Answer - 'spamspamspam' uses multiplication operator (*) to repeat the string

'spamspamspam'

# 8. Why is eggs a valid variable name while 100 is invalid?

<p>
Variable names can consist of letters both uppercase and lowercase, digits, and underscores (_). However, they must start with a letter or an underscore, not a digit.    
</p>
<p>
<strong>egg</strong>: Valid variable because, the variable name starts from letter
</p>
<p>
<strong>100</strong>: Invalid valid variable because, the variable name starts from digit
</p>

# 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

<p>
<strong>int()</strong>: This function can be used to convert the value to an interger. It takes the single argument and converts to integer type and return the value
<p>
ex: value = int(12.4) 
output -> 12
</p>
</p>

In [18]:
value = int(12.4)
value # 12

12

<p>
<strong>float()</strong>: This function can be used to convert the value to an floating point number [decimal number]. It takes the single argument and convert it to float type and retunr the value
<p>
ex: value = float(12.4) 
output -> 12.4
</p>
</p>

In [19]:
value = float(12.4)
value # 12.4

12.4

<p>
<strong>str()</strong>: This function used to convert a value to its string representation. It takes the single argument and returns the string version of the value
<p>
ex: value = str(12.4) 
output -> "12.4"
</p>
</p>

In [20]:
value = str(12.4)
value # "12.4"

'12.4'

# 10. Why does this expression cause an error? How can you fix it?
# 'I have eaten ' + 99 + ' burritos.'

In [21]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

<p>As we can see in the above cell</p>
<p>In python we can concatinate only string type and not interger or float type</p>
<p><strong>Correction</strong></p>
<p>'I have eaten ' + '99' + ' burritos.'</p>
<p>Made the integer 99 to string type by enclosing it wiht quotes</p>
<p>'I have eaten ' + str(99) + ' burritos.'</p>
<p>Made the integer 99 to string type using str() function</p>

In [23]:
'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'

In [24]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'